@import '../../styles/variables';

.productDescriptionContainer {
  background-color: $white;
  height: 118px;
  padding: 15px 10px;
}

.normalText, .mutedText, .unidadeText {
  margin: $mpc-product-card-margin;
  margin-bottom: 4px;
  padding: 0;
  color: $fuscous-gray;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
}

.mutedText {
  color: $star-dust;
}

.unidadeText {
  margin-top: 9px;
}
