@import "../../styles/variables";

.input {
  border: 1px solid $mpc-color-input-border;
  width: 100%;
  border-radius: 4px;
  transition: border-color linear 0.2s, box-shadow linear 0.2s;
  color: $mpc-text-color-default;
  box-shadow: inset 0 1px 1px $mpc-color-input-inset;
  background-color: $mpc-color-input-background;
  outline: none;
}

.input.hasAddonRight {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: auto;
}

.input.default:focus {
  border-color: rgba(82,168,236,0.8);
  box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.input.error {
  border-color: $mpc-color-error;
}

.input.small {
  font-size: $mpc-font-size-small;
  padding: 4px 6px;
}

.input.medium {
  font-size: $mpc-font-size-medium;
  padding: 6px 6px;
}

.input.big {
  font-size: $mpc-font-size-big;
  padding: 8px 10px;
}

.tooltip {
  color: $mpc-text-color-error !important;
  background-color: $mpc-color-error !important;
  font-size: $mpc-font-size-small !important;
  padding: 8px !important;

  &.place-top.type-error:after {
    border-top-color: $mpc-color-error !important;
    border-top-style: solid !important;
    border-top-width: 6px !important;
  }
}
