@import '../../styles/variables';

.input {
  &[type='text'],
  &[type='password'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='date'],
  &[type='month'],
  &[type='time'],
  &[type='week'],
  &[type='number'],
  &[type='email'],
  &[type='url'],
  &[type='search'],
  &[type='tel'],
  &[type='color'],
  &[type='file'] {
    margin: $mpc-input-margin;
    background-color: $mpc-color-input-background;
    border: 1px solid $mpc-color-input-border;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px $mpc-color-input-inset;
    color: $mpc-text-color-default;
    height: auto;
    outline: none;
    transition: border-color linear .2s, box-shadow linear .2s;
    width: 100%;
  }
}

.hasAddonRight {
  &[type='text'],
  &[type='password'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='date'],
  &[type='month'],
  &[type='time'],
  &[type='week'],
  &[type='number'],
  &[type='email'],
  &[type='url'],
  &[type='search'],
  &[type='tel'],
  &[type='color'],
  &[type='file'] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: auto;
  }
}

.default {
  &:focus {
    border-color: $mpc-border-color-input-info;
    box-shadow: 0 0 8px $mpc-box-shadow-color-input-info;
  }
}

.error {
  &[type='text'],
  &[type='password'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='date'],
  &[type='month'],
  &[type='time'],
  &[type='week'],
  &[type='number'],
  &[type='email'],
  &[type='url'],
  &[type='search'],
  &[type='tel'],
  &[type='color'],
  &[type='file'] {
    border-color: $mpc-color-error;
  }

  &:focus {
    &[type='text'],
    &[type='password'],
    &[type='datetime'],
    &[type='datetime-local'],
    &[type='date'],
    &[type='month'],
    &[type='time'],
    &[type='week'],
    &[type='number'],
    &[type='email'],
    &[type='url'],
    &[type='search'],
    &[type='tel'],
    &[type='color'],
    &[type='file'] {
      border-color: $mpc-color-error;
      box-shadow: none;
    }
  }
}

.small {
  &[type='text'],
  &[type='password'],
  &[type='email'],
  &[type='number'] {
    font-size: $mpc-font-size-small;
    padding: 4px 6px;
  }
}

.medium {
  &[type='text'],
  &[type='password'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='date'],
  &[type='month'],
  &[type='time'],
  &[type='week'],
  &[type='number'],
  &[type='email'],
  &[type='url'],
  &[type='search'],
  &[type='tel'],
  &[type='color'],
  &[type='file'] {
    font-size: $mpc-font-size-medium;
    padding: 6px;
  }
}

.big {
  &[type='text'],
  &[type='password'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='date'],
  &[type='month'],
  &[type='time'],
  &[type='week'],
  &[type='number'],
  &[type='email'],
  &[type='url'],
  &[type='search'],
  &[type='tel'],
  &[type='color'],
  &[type='file'] {
    font-size: $mpc-font-size-big;
    padding: 8px 10px;
  }
}

.tooltip {
  background-color: $mpc-color-error !important;
  color: $mpc-text-color-error !important;
  font-size: $mpc-font-size-small !important;
  padding: 8px !important;

  &.place-top {
    &::after {
      border-top-color: $mpc-color-error !important;
      border-top-style: solid !important;
      border-top-width: 6px !important;
    }
  }
}

/* Inner addon*/
.innerAddon {
  position: relative;

  .addon {
    position: absolute;
    pointer-events: none;
  }

  .big {
    padding: 11px;
  }

  .medium {
    padding: 10px;
  }

  .small {
    padding: 8px;
  }
}

.leftAddon {
  .addon {
    left:  0px;
  }
}

.hasInnerLeftAddon {
  padding-left: 30px !important;
}
