@import '../../styles/variables';

.ExpansionIndicator {
  display: inline-flex;
  color: $mpc-expansion-indicator-color;
  border: 2px solid $mpc-expansion-indicator-color;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  align-items: center;

  &.active {
    color: $mpc-expansion-indicator-active-color;
    border-color: $mpc-expansion-indicator-active-color;
  }

  &:before {
    content: $mpc-expansion-indicator-normal-content;
    margin-bottom: $mpc-expansion-indicator-margin-bottom;
  }

  &.expanded {
    color: $mpc-expansion-indicator-expanded-color;
    border-color: $mpc-expansion-indicator-expanded-color;

    &.active {
      color: $mpc-expansion-indicator-active-color;
      border-color: $mpc-expansion-indicator-active-color;
    }

    &:before {
      content: $mpc-expansion-indicator-expanded-content;
      margin-bottom: $mpc-expansion-indicator-margin-bottom;
    }
  }
}
