{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "react/no-find-dom-node": 1,
    "react/no-string-refs": 1,
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 0,
    "semi": 0,
    "max-len": ["error", 120]
  }
}
