@import '../../styles/variables';

.button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button.isAddonRight {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button.medium {
  font-size: $mpc-font-size-medium;
  padding: 6px 10px;
}

.button.big {
  font-size: $mpc-font-size-big;
  padding: 9px 15px;
}

.button.success {
  background-color: $mpc-button-success-bg;
  border: 1px solid $mpc-button-success-border;
  color: $mpc-button-success-text-color;
}

.button.success:hover {
  background-color: $mpc-button-success-bg-hover;
  border: 1px solid $mpc-button-success-border-hover;
}

.button.info {
  background-color: $mpc-button-info-bg;
  border: 1px solid $mpc-button-info-border;
  color: $mpc-button-info-text-color;
}

.button.info:hover {
  background-color: $mpc-button-info-bg-hover;
  border: 1px solid $mpc-button-info-border-hover;
}

.button.default {
  background-color: $mpc-button-default-bg;
  border: 1px solid $mpc-button-default-border;
  color: $mpc-button-default-color;
}

.button.default:hover {
  background-color: $mpc-button-default-bg-hover;
  border: 1px solid $mpc-button-default-border-hover;
}

.button.error {
  background-color: $mpc-button-error-bg;
  border: 1px solid $mpc-button-error-border;
  color: $mpc-button-error-text-color;
}

.button.error:hover {
  background-color: $mpc-button-error-bg-hover;
  border: 1px solid $mpc-button-error-border-hover;
}
