@import '../../styles/variables';

.inlineAlert {
  padding: $mp-text-container-padding;
  font-weight: 100;
}

.inlineAlert.default {
  background-color: $mp-components-color-primary;
  color: $mp-components-color-white;
}

.inlineAlert.error {
  background-color: $mp-components-color-error;
  color: $mp-components-color-white;
}

.inlineAlert a {
  color: $mp-components-color-white;
}
