@import '../../styles/variables';

.inlineAlert {
  padding: $mpc-text-container-padding;

  a {
    color: $white;
    font-weight: bold;
    text-decoration: underline;
  }
}

.info {
  background-color: $mpc-color-info;
  color: $mpc-text-color-info;
}

.error {
  background-color: $mpc-color-error;
  color: $mpc-text-color-error;
}
