@import '../../styles/variables';
@import '../Card/Card';

.productCardContainer {
  composes: card from '../Card/Card.scss';
  margin: $mpc-product-card-margin;
  height: auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.divider {
  margin: $mpc-divider-margin;
  background-color: $athens-gray;
  border: 0 none;
  color: $desert-storm;
  height: 1px;
  padding: 0;
}

.productCardDesktop {
  flex-direction: row;
}
