@import '../../styles/variables';
@import '../Card/Card';

.productCardContainer {
  composes: card from '../Card/Card.scss';
  width: 273px;
  height: auto;
  padding: 0;
}

.divider {
  margin: $mpc-product-card-margin;
  background-color: $athens-gray;
  border: 0 none;
  color: $desert-storm;
  height: 1px;
  padding: 0;
  width: 273px;
}
