@import '../../styles/variables';
@import '../Card/Card';

.productCardContainer {
  @extend .card;
  width: 273px;
  height: auto;
  padding: 0;
}

.divider {
    background-color: $athens-gray;
    border: 0 none;
    color: $desert-storm;
    height: 1px;
    padding: 0;
    margin: 0;
    width: 273px;
}
