$meus-pedidos: #0192F6;
$science-blue: #0070D2;
$endeavour: #005FB2;
$midnight-blue: #00396B;
$kashmir-blue: #4F6A92;
$rock-blue: #A7B8D1;
$pigeon-post: #CFD7E6;
$athens-gray: #EEF1F6;
$fuscous-gray: #3B3B3B;
$raven: #757E8B;
$nobel: #A2A2A2;
$star-dust: #A0A0A0;
$alto: #D6D6D6;
$mercury: #E1E1E1;
$gallery: #EAEAEA;
$athens-gray: #EFEFF4;
$wild-sand-1: #F4F4F4;
$wild-sand-2: #F6F6F6;
$desert-storm: #F8F8F8;
$white: #FFFFFF;
$green-haze: #02CD78;
$vista-blue: #64CC9A;
$algae-green: #83DDA7;
$caribbean-green: #01CD78;
$mint-green: #B0F9A0;
$jaffa: #E87D34;
$sandy-brown: #F49C60;
$porsche: #E8B169;
$new-orleans: #F5DBA3;
$carnation: #F75E5E;
$geraldine: #F47A7A;
$cornflower-lilac: #FF9794;
$your-pink: #FFC8C2;
$violet-red: #FF478C;
