@import 'colors';

// Context Colors
$mpc-text-color-default: $fuscous-gray;
$mpc-color-default: $athens-gray;
$mpc-color-error: $carnation;
$mpc-text-color-error: $white;
$mpc-color-success: $caribbean-green;
$mpc-text-color-success: $white;
$mpc-color-info: $meus-pedidos;
$mpc-text-color-info: $white;

// Components
// Button
$mpc-button-default-color: $mpc-text-color-default;
$mpc-button-default-bg: $mpc-color-default;
$mpc-button-default-border: darken($mpc-button-default-bg, 5%);
$mpc-button-default-bg-hover: darken($mpc-button-default-bg, 5%);
$mpc-button-default-border-hover: darken($mpc-button-default-border, 5%);

$mpc-button-success-text-color: $mpc-text-color-success;
$mpc-button-success-bg: $mpc-color-success;
$mpc-button-success-border: darken($mpc-button-success-bg, 5%);
$mpc-button-success-bg-hover: darken($mpc-button-success-bg, 5%);
$mpc-button-success-border-hover: darken($mpc-button-success-border, 5%);

$mpc-button-error-text-color: $mpc-text-color-error;
$mpc-button-error-bg: $mpc-color-error;
$mpc-button-error-border: darken($mpc-button-error-bg, 5%);
$mpc-button-error-bg-hover: darken($mpc-button-error-bg, 5%);
$mpc-button-error-border-hover: darken($mpc-button-error-border, 5%);

$mpc-button-info-text-color: $mpc-text-color-info;
$mpc-button-info-bg: $mpc-color-info;
$mpc-button-info-border: darken($mpc-button-info-bg, 5%);
$mpc-button-info-bg-hover: darken($mpc-button-info-bg, 5%);
$mpc-button-info-border-hover: darken($mpc-button-info-border, 5%);

// Input
$mpc-color-input-border: #CCC;
$mpc-input-margin: 0;
$mpc-color-input-inset: rgba(0, 0, 0, .075);
$mpc-color-input-background: $white;
$mpc-border-color-input-info: rgba(82, 168, 236, .8);
$mpc-box-shadow-color-input-info: rgba(82, 168, 236, .6);

// Node
$mpc-color-node-level-3: $star-dust;
$mpc-color-node-hover: $desert-storm;
$mpc-node-level1-border-top: $athens-gray;

// Link
$mpc-color-link-default-visited: $meus-pedidos;
$mpc-color-link-error-visited: $mpc-color-error;
$mpc-link-margin: 0 10px;

// ProductCard
$mpc-divider-margin: 0;
$mpc-product-card-margin: 10px 0;

// ProductImage
$mpc-product-image-margin: auto;

// Spacing, sizing
$mpc-text-container-padding: 12px;
$mpc-font-size-small: 11px;
$mpc-font-size-medium: 13px;
$mpc-font-size-big: 16px;
