@import '../../styles/variables';

.card {
  margin: $mpc-product-card-margin;
  min-width: 100px;
  min-height: 10px;
  font-size: 14px;
  background-color: $white;
  border: 0;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(76, 82, 90, 0.15);
}

.card h1 {
  color: $star-dust;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.card p {
  color: $fuscous-gray;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
