@import "../../styles/variables";

.node {
  padding: $mp-text-container-padding;
  transition: background-color 0.2s ease;
}

.node:hover {
  background-color: #f8f8f8;
}

.nodeLevel1 {
  padding-left: 20px;

  .nodeLabel {
    font-weight: 600;
  }
}

.nodeLevel2 {
  padding-left: 40px;

  .nodeLabel {
    font-weight: 400;
  }
}

.nodeLevel3 {
  padding-left: 60px;

  .nodeLabel {
    font-weight: 400;
    color: $mp-components-color-node-level-3;
  }
}
