@import "../../styles/variables";

.node {
  padding: $mpc-text-container-padding;
}

.node:hover {
  background-color: $mpc-color-node-hover;
}

.nodeLevel1 {
  padding-left: 20px;
  border-top: 1px solid $mpc-node-level1-border-top;

  .nodeLabel {
    font-weight: 600;
  }
}

.nodeLevel2 {
  padding-left: 40px;

  .nodeLabel {
    font-weight: 400;
  }
}

.nodeLevel3 {
  padding-left: 60px;

  .nodeLabel {
    font-weight: 400;
    color: $mpc-color-node-level-3;
  }
}
