@import '../../styles/variables';

.node {
  padding: $mpc-text-container-padding;

  &:hover {
    background-color: $mpc-color-node-hover;
  }
}

.nodeLevel1 {
  border-top: 1px solid $mpc-node-level1-border-top;
  padding-left: 20px;

  .nodeLabel {
    font-weight: 600;
  }
}

.nodeLevel2 {
  padding-left: 40px;

  .nodeLabel {
    font-weight: 400;
  }
}

.nodeLevel3 {
  padding-left: 60px;

  .nodeLabel {
    color: $mpc-color-node-level-3;
    font-weight: 400;
  }
}
