@import '../../styles/variables';

.productImageContainer {
  background-color: $white;
  height: 176px;
  text-align: center;
  color: $star-dust;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 176px;
  position: relative;
}

.productImage {
  margin: $mpc-product-image-margin;
  max-height: 90%;
  max-width: 90%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
