@import '../../styles/variables';

.verticalCard {
  background-color: $mpc-vertical-card-bg-color;

  .topContent {
    border-bottom: 1px solid $mpc-vertical-card-divider-color;
    text-align: center;
    overflow: hidden;
  }

  .bottomContent {
    padding: 15px 10px;
    min-height: 118px;
  }
}
