.categoriaContainer {
  min-height: 40px;
}

.linhaCategoria {
  height: 40px;
  font-size: 14px;
  padding: 10px 0 10px 20px;
}

.linhaCategoria:hover {
  background-color: #f8f8f8;
}

.categoriaNivel1 {
  @extend .linhaCategoria;

  .labelCategoria {
    font-weight: 600;
  }
}

.categoriaNivel2 {
  @extend .linhaCategoria;
  padding-left: 40px;

  .labelCategoria {
    font-weight: 400;
  }
}

.categoriaNivel3 {
  @extend .linhaCategoria;
  padding-left: 60px;

  .labelCategoria {
    font-weight: 400;
    color: #a0a0a0;
  }
}