@import "../../styles/variables";

.opcoesWrapper {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: $mp-components-color-primary;
}

.opcao {
  padding-left: 20px;
}

.opcaoExcluir {
  @extend .opcao;
  color: $mp-components-color-red;
}

.label {
  cursor: pointer;
}
