@import "../../styles/variables";

.opcoesWrapper {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: $mp-components-color-primary-blue;
}

.criar {
  padding-left: 20px;
  cursor: pointer;
}

.editar {
  padding-left: 20px;
  cursor: pointer;
}

.excluir {
  padding-left: 20px;
  color: $mp-components-color-red;
  cursor: pointer;
}
