@import '../../styles/variables';

.horizontalCard {
  background-color: $mpc-horizontal-card-bg-color;
  min-height: 100px;

  .leftContent {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 30%;
  }

  .rightContent {
    display: inline-block;
    padding: 15px 10px;
    width: 70%;
  }
}
