@import '../../styles/variables';

.link {
  margin: $mpc-link-margin;
  text-decoration: none;
}

.decorated {
  text-decoration: underline;
}

.default {
  color: $mpc-color-link-default-visited;

  &:visited {
    color: $mpc-color-link-default-visited;
  }
}

.error {
  color: $mpc-color-error;

  &:visited {
    color: $mpc-color-error;
  }
}
