@import "../../styles/variables";

.link {
  text-decoration: none;
  margin: 0 10px;
}

.link.decorated {
  text-decoration: underline;
}

.link.default,
.link.default:visited {
  color: $mpc-color-link-default-visited;
}

.link.error,
.link.error:visited {
  color: $mpc-color-error;
}
